<mat-tab-group>
  <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
  <mat-tab class="tab" label="Invited">
    <ng-container>
      <div class="divCard">
        <mat-card class="card" *ngFor="let lead of leads | leadsFilter : 0">
          <mat-card-content class="firstContentCard">
            <label>{{ lead.contactName | firstName }} </label>
            <label class="">
              {{ lead.creationDate | date : "longDate" }} &#64;
              {{ lead.creationDate | date : "shortTime" }}
            </label></mat-card-content
          >
          <mat-divider></mat-divider>
          <mat-card-content class="secondContentCard"
            ><label class="labelWithIcon">
              <mat-icon
                aria-hidden="false"
                aria-label="Suburb"
                fontIcon="pin_drop"
              ></mat-icon
              >{{ lead.suburb }}</label
            >
            <label class="labelWithIcon">
              <mat-icon
                aria-hidden="false"
                aria-label="Suburb"
                fontIcon="home_repair_service"
              ></mat-icon
              >{{ lead.category }}</label
            >
            <label>Job Id: {{ lead.id }}</label>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-content class="thirdContentCard">{{
            lead.description
          }}</mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-flat-button (click)="acceptLead(lead.id)">
              Accept
            </button>
            <button mat-flat-button (click)="declineLead(lead.id)">
              Decline
            </button>
            <label
              >{{ lead.price | currency : "USD" : true }} Lead Invitation
            </label>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab label="Accepted">
    <ng-container>
      <div>
        <mat-card *ngFor="let lead of leads | leadsFilter : 1">
          <mat-card-content
            >{{ lead.contactName }},
            {{ lead.creationDate | date : "longDate" }}</mat-card-content
          >
          <mat-card-content>{{ lead.suburb }}, {{ lead.id }}</mat-card-content>
          <mat-card-content>{{ lead.description }}</mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </mat-tab>
</mat-tab-group>
