.divCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #eeeeee;
}

.tab {
  background-color: white;
}

.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.firstContentCard {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.secondContentCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1px;
  padding: 5px;
  margin-right: 10px;
  font-size: small;
}

.thirdContentCard {
  height: 5vh;
  margin: 1px;
  padding: 5px;
  margin-right: 10px;
  font-size: small;
}

.thirdContentAcceptCard {
  height: auto;
  margin: 1px;
  padding: 5px;
  margin-right: 10px;
  font-size: small;
  display: flex;
  flex-direction: column;
}

.descriptionLabel {
  padding: 5px;
  margin-right: 10px;
}

.labelWithIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin-right: 10px;
  font-size: small;
}

mat-progress-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.contactInformationDiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.identificationSection {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 0 10px;
}

.nameLabel {
  font-weight: bold;
}
.actionButtons {
  margin: 5px;
}

.contactLabel {
  color: #ff9f42;
  font-weight: bold;
}
